<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <table>
        <thead>
            <tr>
                <th>Titulo</th>
                <th>Genero</th>
                <th>Plataforma</th>
                <th>Precio</th>
                <th>Disponibilidad</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="juego : ${juegos}">
                <td th:text="${juego.titulo}"></td>
                <td th:text="${juego.genero}"></td>
                <td th:text="${juego.plataforma}"></td>
                <td th:text="${juego.precio}"></td>
                <td th:text="${juego.disponible}"></td>
            </tr>
        </tbody>
    </table>

</body>
</html>