<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Introduccion - Thymeleaf</title>
</head>
<body>

<h1 th:text="${mensajeBienvenida}">Titulo de relleno</h1>

<p>
    Hola, <span th:text="${nombreUsuario}">Usuario Falso</span>.
    Bienvenido a mi App Web Dinamica
</p>

<hr>

<h3>Menu de Navegacion</h3>

<ul>
    <li>
        <a th:href="@{/saludo}">Ver Saludo Dinamico</a>
    </li>
    <li>
        <a th:href="@{/catalogo}">Ver Catalogo de Juegos</a>
    </li>
</ul>

</body>
</html>